* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

/* Mobile Devices */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Tablets */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

/* start header */
header {
  width: 100%;
  height: 100vh;
}

header nav .container {
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .logo {
  flex: 1;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}

header nav .links {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

header nav .links li {
  position: relative;
  padding: 8px 15px;
  margin: 0 5px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s ease;
}

header nav .links li::before {
  transition: all 0.5s ease;
}

header nav .links li:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background-color: black;
}

header nav .links li.opened::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: rgb(86, 226, 86);
  border-radius: 50%;
}
/* end header */
