* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #58d4f0;
  --primary-color: black;
  --secondary-color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--secondary-color);
  font-family: 'Poppins', sans-serif;
}

/* Mobile Devices */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Tablets */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

/* start header */
header {
  width: 100%;
  height: 100vh;
}

/* start header nav  */

header nav .container {
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .logo {
  flex: 1;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

header nav .links {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.3s ease;
}

header nav .links li {
  position: relative;
  padding: 8px 15px;
  margin: 0 5px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

header nav .links li a {
  color: var(--primary-color);
}

header nav .links li::before {
  content: '';
  transition: all 0.3s ease;
}

header nav .links li:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  background-color: var(--primary-color);
}

header nav .links li.opened::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: var(--main-color);
  border-radius: 50%;
}

header nav .burger {
  position: relative;
  width: 35px;
  height: 24px;
  border: none;
  outline: none;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}

header nav .burger span {
  display: block;
  width: 35px;
  height: 3px;
  background-color: var(--primary-color);
  margin: 5px 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

header nav .burger::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 35px;
  height: 3px;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  transition: all 0.3s ease;
}

header nav .burger::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 35px;
  height: 3px;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  transition: all 0.3s ease;
}

header nav .burger.active span {
  opacity: 0;
}

header nav .burger.active::before {
  content: '';
  transform: rotate(-45deg) translateY(7px) translateX(-7px);
}

header nav .burger.active::after {
  content: '';
  transform: rotate(45deg) translateY(-7px) translateX(-7px);
}

@media (max-width: 768px) {
  header nav .links {
    width: 0;
    display: none;
  }

  header nav .links.active {
    display: block;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
    flex-direction: column;
  }

  header nav .links li {
    width: fit-content;
    margin: 25px auto;
  }

  header nav .burger {
    position: absolute;
    top: 17px;
    right: 26px;
    transform: translate(-50% -50%);
    z-index: 3;
    display: block;
  }
}

/* end header nav */

/* start header content */
header .content {
  width: 100%;
  height: calc(100vh - 70px);
}

header .content .container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

header .content .container .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .content .container .about h3 {
  font-weight: normal;
  font-size: 25px;
}

header .content .container .about h1 {
  margin-top: 10px;
  font-size: 30px;
  letter-spacing: 1.4px;
}

header .content .container .about p {
  margin-top: 25px;
  font-size: 18px;
}

header .content .container .about p a {
  cursor: pointer;
  font-weight: 600;
  color: var(--primary-color);
}

header .content .container .about .social {
  max-width: 400px;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header .content .container .about .social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 25px;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.65);
  transition: all 0.3s ease;
}

header .content .container .about .social a:hover {
  background-color: var(--primary-color);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.65);
  color: var(--secondary-color);
}

.btn {
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  background-color: var(--secondary-color);
  transition: all 0.3s ease;
  font-size: 16px;
  font-weight: bold;
}

.btn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

header .content .container .about button {
  margin-top: 30px;
  padding: 8px 20px;
  width: 80%;
}

header .content .container .pic {
  background-image: url('../images/image.png');
  background-repeat: no-repeat;
  background-size: cover;
  justify-self: center;
  align-self: center;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  header .content .container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  header .content .container .about h3 {
    font-size: 18px;
  }

  header .content .container .about h1 {
    font-size: 22px;
  }

  header .content .container .about p {
    font-size: 16px;
  }

  header .content .container .about button {
    margin-top: 50px;
    width: 100%;
  }
}

/* end header content */

/* end header */

/* start section */
section {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

section h1.title {
  width: fit-content;
  margin: 25px auto;
  position: relative;
  cursor: pointer;
}

section h1.title:hover::before {
  content: '';
  height: 100%;
}

section h1.title:hover::after {
  content: '';
  height: 100%;
}

section h1.title::before {
  content: '';
  position: absolute;
  width: 150%;
  height: 10px;
  border-radius: 5px;
  background-color: var(--main-color);
  left: 0;
  bottom: -15px;
  transform: translateX(-15%);
  transition: all 0.3s ease;
  z-index: -1;
}

section h1.title::after {
  content: '';
  position: absolute;
  width: 150%;
  height: 0;
  border-radius: 5px;
  background-color: var(--main-color);
  left: 0;
  top: -15px;
  transform: translateX(-15%);
  transition: all 0.3s ease;
  z-index: -1;
}
/* end section */

/* start about */

.about .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 45px;
}

.about .container .card {
  padding: 25px 15px;
}

.about .container .card .icon {
  font-size: 50px;
}

.about .container .card h3 {
  margin-top: 15px;
  font-weight: 600;
  font-size: 20px;
}

.about .container .card p {
  margin-top: 15px;
}
/* end about */

/* start experience */
.experience .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.experience .container .box {
  padding: 25px 15px;
}

.experience .container .box h3 {
  margin-top: 15px;
  font-weight: 600;
  font-size: 20px;
}

.experience .container .box h3 span {
  margin-right: 15px;
  font-size: 15px;
}

.experience .container .rating p {
  margin-top: 25px;
}

.experience .container .rating p span {
  font-weight: 600;
}

.experience .container .skills h3 {
  margin-bottom: 25px;
}

.experience .container .skills .prog {
  margin-top: 8px;
}

.experience .container .skills .prog p span {
  font-size: 22px;
  margin-right: 8px;
}

.experience .container .skills .bar {
  height: 12px;
  margin-top: 8px;
  background-color: #ddd;
  border-radius: 8px;
}

.experience .container .skills .bar span {
  position: relative;
  display: block;
  height: 100%;
  background-color: var(--main-color);
  border-radius: 8px;
}

.experience .container .skills .bar span::before {
  content: attr(prog-data);
  position: absolute;
  top: -30px;
  right: -12px;
  background-color: var(--main-color);
  border-radius: 4px;
  color: var(--primary-color);
  width: 35px;
  text-align: center;
  font-size: 12px;
}

.experience .container .skills .bar span::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: var(--main-color) transparent transparent;
  border-width: 5px;
  top: -12px;
  right: 0;
}

/* end experience */

/* start projects */
.projects .container .app {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  padding: 80px 25px;
}

.projects .container .app .desc h3 {
  font-weight: 600;
  font-size: 25px;
}

.projects .container .app .desc h3 span {
  margin-right: 25px;
}

.projects .container .app .desc p {
  margin-top: 40px;
}

.projects .container .app .download .icon {
  display: flex;
  flex-direction: row;
}

.projects .container .app .download .icon img {
  width: 120px;
  height: 120px;
}

.projects .container .app .download .icon h4 {
  font-weight: 600;
  font-size: 18px;
  margin-left: 15px;
}

.projects .container .app .download .benefits {
  margin-top: 40px;
}

.projects .container .app .download .benefits li {
  font-size: 18px;
  padding: 5px 0;
}

.projects .container .app .download .benefits li span {
  margin-right: 15px;
}

.projects .container .app .download .install {
  display: block;
  width: 100%;
  text-align: center;
  padding: 5px 16px;
  margin-top: 40px;
  color: var(--primary-color);
}

.projects .container .app .download .install:hover {
  color: var(--secondary-color);
}

.projects .activities li {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 60px;
}

.projects .activities li img {
  height: 450px;
  margin: 0 auto;
}

.projects .activities li .desc h3 {
  font-weight: 600;
  font-size: 22px;
}

.projects .activities li .desc p {
  font-size: 16px;
  margin-top: 15px;
}
/* end projects */

/* start contact */
.contact .container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.contact .container img {
  width: 350px;
  margin: 0 auto;
}

.contact .container .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact .container .form input,
.contact .container .form textarea {
  width: 100%;
  padding: 8px 15px;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #eee;
  font-size: 14px;
}

.contact .container .form > input,
.contact .container .form textarea {
  margin-top: 15px;
}

.contact .container .form textarea {
  height: 120px;
  resize: none;
}

.contact .container .form div {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.contact .container .form div input:first-child {
  margin-right: 8px;
}

.contact .container .form button {
  margin-top: 25px;
  width: 100%;
  padding: 8px 15px;
}

/* end contact */

/* start footer */
footer {
  padding: 80px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 15px 15px 0 0;
}

footer .social {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer .social a {
  font-size: 22px;
  color: var(--secondary-color);
  transition: all 0.3s ease;
  width: 45px;
  height: 45px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .social a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

footer p {
  margin-top: 40px;
  color: var(--secondary-color);
}
/* end footer */
